<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cafe.Properties.Settings.cafeConnectionString" connectionString="Dsn=cafe_dsn;server=localhost;uid=root;database=cafe;port=3306" providerName="System.Data.Odbc" />
        <add name="Cafe.Properties.Settings.ConnectionString" connectionString="Dsn=java_db" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>